//------------------------------------------------------------------------------
// Color Palette

$black: #344160;
$blue: #11709f;


//------------------------------------------------------------------------------
// Font Config

$font-stack: "Museo Sans", Helvetica, sans-serif;


$weight-normal: 400;     $weight-regular: $weight-normal;
$weight-medium: 500;
$weight-bold:   700;


// Typography
$font-size-base: 16px;
$font-size-textbox: in-rems(18px);

@function in-rems($px) {
  // Convert a px unit (ie. from a design comp) into rems w/o doing math
  @return #{($px / $font-size-base)}rem;
}



//------------------------------------------------------------------------------
// Layout

$width--main-column: 760px;
$width--emojis: 490px;
$height--page-header: 80px;
$height--page-footer: 56px;
$sizing--nav: 60px;