//------------------------------------------------------------------------------
// Color Palette

$black: #344160;
$blue: #11709f;
$light-blue: #88d6e2;
$aqua-blue: #43b1bc;
$pink: #d88e7e;
$brown: #c5a787;
$yellow: #ecb95f;
$green: #81ab68;
$dark-blue: #1c6078;







//------------------------------------------------------------------------------
// Font Config

$font-stack: "Museo Sans", Helvetica, sans-serif;
$font-small: "Filson Soft", Helvetica, sans-serif;


$weight-normal: 400;     $weight-regular: $weight-normal;
$weight-medium: 500;
$weight-bold:   700;


// Typography
$font-size-base: 16px;
$font-size-textbox: in-rems(18px);

@function in-rems($px) {
  // Convert a px unit (ie. from a design comp) into rems w/o doing math
  @return #{($px / $font-size-base)}rem;
}



//------------------------------------------------------------------------------
// Layout

$width--main-column: 760px;
$width--emojis: 490px;
$height--page-header: 80px;
$height--page-footer: 56px;
$sizing--nav: 60px;