//------------------------------------------------------------------------------
// Abstract



//------------------------------------------------------------------------------
// Header


.hero-image {
  background: url('well/style/assets/img/well-background.png');
  margin-top: -50px;
  background-position: center center;
  background-size: cover;
  min-height: 800px;
  z-index: 10;
}

.hero-text {
	text-align: center;
  	padding-top: 200px;
  	z-index: 3;
}

.hero-text h1{
  	font-weight: 400;
  	letter-spacing: 3px;
}

.hero-button {
	text-align: center;
	text-transform: uppercase;
}
