//------------------------------------------------------------------------------
// MODULE B


// LEFT 
.b-left {
 	background-color: #01AEBE;

 	.box {
 		border: 3px solid white; 
 		padding-top: 15%; 
 		padding-bottom: 15%; 
 		padding-right: 50px; 
 		padding-left: 50px; 
 		z-index: 10;
 	}

 	h2 {
 		color: white;
 	}

 	p {
 		margin-top: 50px; 
 		font-weight: 100;
 	}
}



.b-line {
width:50px;
border-top:3px solid #53575B;
 height:1px;   
}

// RIGHT



.new-right {
 

 	.box-1 {
 		background-color: white; 
 		margin-top: 10%; 
 		padding-right: 25px; 
 		padding-left: 25px; 
 		overflow: hidden;

 	}

 	h3 {
 		color: #1CAEBD; 
 		font-size: 1.5em; 
 		font-weight: 100;
 	}

 	p {
 		margin-top: 25px; 
 		font-weight: 100;
 	}
}
 





.b-right-text p{
	padding-top: 15px;
}

.b-divide-line {
border-top:1px solid gray; 
}






.parent {
  display: flex; /* flexbox is soo good */
  flex-direction: row; /*can be row or column */
  flex-wrap: wrap;

  @include media (">=tablet") {

  }

  
}

.child {
	width: 100%;

	@include media (">=tablet") {
	 width: 50%;
	}
}

