//------------------------------------------------------------------------------
// MODULE B


// LEFT 
.b-left-img {
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #f4f3f4;
  z-index: 1;
  min-height: 800px;
}


.b-left-text {
	padding-top: 300px;
	width: 65%;
	margin: auto;
	margin-bottom: 0px !important;
}

.b-line {
width:50px;
border-top:3px solid $blue;
 height:1px;   
}

// RIGHT

.b-right-text {
	background-color:  #ffffff;
	width: 60%;
	height: 400px;
	margin: auto;
	padding-top: 100px;
}

.b-right-text p{
	padding-top: 15px;
}

.b-divide-line {
border-top:1px solid gray; 
}


.parent {
  display: flex; /* flexbox is soo good */
  flex-direction: row; /*can be row or column */
  
}

.child {
 /*not completely necessary, but this says how wide .child should be by default (% of .parent)*/
  
/*   these things don't matter either */

}