
// MODULE D
// Articles Module 

.module-d {

  background-color: #EEEEEE; 
  padding: 0px 0px 0px 0px;

   @include media (">=tablet") {
    padding: 50px 100px 0 100px;
  }
}



.d-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  }


.d-child {
	width: 100%;

	@include media (">=tablet") {
	 width: 33%;

	}
}


