//------------------------------------------------------------------------------
// Abstract



//------------------------------------------------------------------------------
// Header


.hero-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
}

.hero-text {
	text-align: center;
  padding-top: 200px;
  z-index: 3;
}

.hero-text h1{
  	font-weight: 400;
  	letter-spacing: 3px;
}

.hero-button {
	text-align: center;
	text-transform: uppercase;
}
