
// MODULE A
// Classic Header: Image background, with hero text and button


.module-a {
  margin-top: -250px;
}

.hero-text {
	text-align: center;
  padding-top: 200px;
  z-index: 3;

  h1{
  	font-weight: 400;
  	letter-spacing: 3px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 100;
    color: white;
    text-align: center;


    @include media (">=tablet") {
        font-size: 80px;
        line-height: 85px;
      }
    }
}

.hero-button {
	text-align: center;
	text-transform: uppercase;
}


.hero-image {
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/office-www-2.jpg') no-repeat center center; 
height: 80vh; 
background-size: cover; 
margin-top: -75px;
width: 100%;

@include media (">=tablet") {
   height: 99vh;
  }
}