//------------------------------------------------------------------------------
// MODULE G 




.g-background {
    background-color: $light-gray;
}

.g-right {


    .hero-text {

        text-align: left;

        h1 {

            color: red;

        }

        p {

            color: red;

        }

        button {


        }
        

    }
}