//------------------------------------------------------------------------------
// MODULE C

.c-text {
color:  #37474f;
font-size: 28px;
font-style: italic;
line-height: 46px;
text-align: center;
text-transform: none;
}


.c-title {
	display: inline-block;
	text-align: left;
}

.c-user {
	text-align: center;

	@include media (">=tablet") {
		text-align: left;
		margin-top: 30px;
	}

}

.c-image img{
	min-width: 75px;
	min-height: 75px;
	display: inline-block;
	margin-top: 20px;

	@include media (">=tablet") {
	margin-top: 0px;
	}
}


.c-line {
width:50px;
border-top:3px solid black;
height:1px;
margin-bottom: 50px;

@include media (">=tablet") {
	margin-bottom: 0px;
	margin-top: 40px;
	}


}


.c-user .c-title .name {
	color: #53565a; 
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 1px;

	@include media (">=tablet") {
		text-align: left;
		margin-top: 0px;
	}

}

.c-user .c-title .title {
	color: $aqua-blue; 
	text-transform: uppercase;
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 1px;


	@include media (">=tablet") {
		text-align: left;
		margin-top: 0px;
	}

}