body {
 
}

a {
  text-decoration: none;
}

h1 {
  font-family: $font-stack;
  color:  $blue;
  font-size: 80px;
  line-height: 85px;
}

h2 {
  font-family: $font-stack;
  color:  $blue;
  font-size: 54px;
  line-height: 60px;
}

h3 {
  font-family: $font-stack;
  color:  #53565a;
  font-size: 36px;
  line-height: 46px;
}

h4 {
  font-family: $font-small;
  color:  #37474f;
  font-size: 28px;
  font-style: italic;
  line-height: 46px;
  text-transform: uppercase;
}

h5 {
  font-family: $font-stack;
  color:  #53565a;
  font-size: 24px;
  line-height: 38px;
}

p {
  font-family: $font-stack;
  color:  #53565a;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}