html {
  background: white;
}
body {
  margin: 0;
  font-size: 1.25em;
}

.standard-image {
background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/img/standard-img.png') no-repeat center center; 
background-size: cover; 
height: 100vh;
width: 100%;
position: fixed;
}


.pageWrapper {
background-color: transparent;

}

.pane, .spacing {
  padding: 15px!important;
}
.header, .footer {
  padding-bottom: 15px;
}
.footer .spacing {
  padding-top: 0!important;
}
.pane .content-container {
  height: 100%;
  width: auto;
  display: inline-block;
}
.paneOne .content-container{
   background: url("../img/standard-img.png");

}
.paneTwo .content-container{
 
}
.paneThree .content-container{

}
.paneFour .content-container{
  background: rgba(220,36,36,1);
  background: -moz-linear-gradient(-45deg, rgba(220,36,36,1) 0%, rgba(53,0,96,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(220,36,36,1)), color-stop(100%, rgba(53,0,96,1)));
  background: -webkit-linear-gradient(-45deg, rgba(220,36,36,1) 0%, rgba(53,0,96,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(220,36,36,1) 0%, rgba(53,0,96,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(220,36,36,1) 0%, rgba(53,0,96,1) 100%);
  background: linear-gradient(135deg, rgba(220,36,36,1) 0%, rgba(53,0,96,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2424', endColorstr='#350060', GradientType=1 );
}
.header .content-container {
  background:#f4f2ef;
}

.footer .content-container {
  background:#f4f2ef;
}
h1 {
    font-family: "Museo Sans",sans-serif;
    line-height: 1.05em;
    font-size: 54px;
    font-weight: bolder;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 30px;
    color: #fff;
}

p {
  font-size: 24px;
  font-family: "Museo Sans";
  font-style: normal;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.25em;
  margin-bottom: 0;
  color: #fff;
}

a {
  font-size: 16px;
  font-family: "Museo Sans";
  font-style: normal;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1.25em;
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
}




.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  position: relative!important;
  top: 50%;
  padding: 50px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
.lightText h1, .lightText h2 {
  color: white; 
}
.lightText p {
  color: white; !important;
}

.right {
  float: right;
}
.center {
  float: none;
  margin: 0 auto;
  width: auto!important;
  text-align: center;
  max-width: none!important;
}
.center h1 {
  margin-bottom: 40px;
}
.center a {
  display: inline-block;
  padding: 0 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0 10px;
  padding: 7px 50px;
  font-family: "brandon-grotesque",sans-serif;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
.center a:hover {
  background: white;
  color: rgba(53,0,96,1);
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
.content {
  max-width: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid #fff; 
  padding: 50px;
  text-align: left;
}
.content.center {
  -webkit-transform: translateY(0)!important;
     -moz-transform: translateY(0)!important;
      -ms-transform: translateY(0)!important;
       -o-transform: translateY(0)!important;
          transform: translateY(0)!important;
}

.tutLinks {
  margin-top: 40px;
  display: block;
}
.tutLinks a {
  border: none;
  margin: 7px 30px;
  padding: 0;
  color: rgba(220,36,36,1);
  font-size: 0.75em;
  padding-bottom: 3px;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.tutLinks a:hover {
  background: transparent;
  border-bottom: 1px solid;
  color: rgba(220,36,36,1);
  margin-bottom: -1px;
}

.content.right {
  float: right;
  right: 0;
}


@media screen and (min-width: 1200px) {
  .pane .content-container {
    width: 100%;
  }
  .pane .wrapper {
    margin: 0px auto;
  }
}

@media screen and (max-width: 767px) {
  
  .content.right {
  float: left;
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 300px;
  padding: 20px;
  }


  h1 {
    font-size: 1.7em;
    padding-bottom: 10px;
  }

  p {
    font-size: .8em;
    margin-top: 0;
  }

  a {
    font-size: .7em;
    margin-top: 0;
  }


}
