

// Module A Down Arrow

.modal-air {
  display: block;

  > label {
  cursor: pointer;
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
  }

  > label:hover {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

input {
right: 100px;
top: 30px;
z-index: -10;
}


}



.modal-fitness {
  display: block;

  > label {
  cursor: pointer;
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
  }

  > label:hover {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

input {
right: 100px;
top: 30px;
z-index: -10;
}


}



.modal__overlay {
  position: fixed;
  background: #E5E5E5;
  opacity: .9;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1;
}

.modal__overlay label {
  font-size: 250%;
  font-weight: 100;
  color: #53565B;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.3em;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  width: 1.5em;
}

.modal__box {
  padding: 1em .75em;
  position: relative;
  margin: 1em auto;
  max-width: 700px;
  width: 90%;
}


.modal__box h1 {
  color: #53565B;
  margin-bottom: 1em;
}

.modal__box h3 {
  color: #53565B;
  text-align: center;
}

.modal__box p {
  color:  #53565B;
  text-align: center;
}

.modal__overlay {
  opacity: 0;
  overflow: hidden;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

input:checked ~ .modal__overlay {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 800;
}

input:focus + label {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}


.advance-right {
width: 0;
height: 0;
border-style: solid;
border-width: 20px 0 20px 34.6px;
border-color: transparent transparent transparent white;
}

.advance-left {
width: 0;
height: 0;
border-style: solid;
border-width: 20px 34.6px 20px 0;
border-color: transparent white transparent transparent;
}

