
//------------------------------------------------------------------------------
// Button



.primary-button {
    background-color: transparent; 
    border: 2px;
    border-style: solid;
    border-color: white;
    color: white;
    font-family: $font-small;
    width: 220px;
    height: 61px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
}

.primary-button:hover {
    background-color: white; 
    border: none;
    color: white;
   
}



.arrows {
font-family: FilsonSoft;
color:  #88d6e2;
font-size: 16px;
font-weight: 700;
line-height: 46px;
text-align: center;
text-transform: uppercase;
}