
//------------------------------------------------------------------------------
// Button



.primary-button {
    background-color: transparent; 
    border: 2px;
    border-style: solid;
    border-color: $blue;
    color: $blue;
    font-family: $font-small;
    width: 220px;
    height: 61px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.primary-button:hover {
    background-color: $blue; 
    border: none;
    color: white;
   
}



