
//------------------------------------------------------------------------------
// Navigation


.new-article {

  background-color: #EEEEEE; 
  padding: 0px 0px 0px 0px;

   @include media (">=tablet") {
    padding: 50px 100px 0 100px;
  }



}


.card {
  margin-bottom: 20px;
  z-index: 1; 
  height: 450px;

}


.card-raised {
  box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.55);

  @include media (">=tablet") {
    box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.55);
    
}
}


// Image Cards

.card-image {
  background-color: #FFFFFF;
  color: #252422;
}

.card-image .image {
  height: 271px;
  position: relative;
  overflow: hidden; 
  width: 100%;
}

.card-image .image img {
    width: 100%;
    height: 271px; }

.card-image .content {
  min-height: 179px;
  background-color: white; 
  padding: 20px 0 0 20px;
  overflow: hidden;
}

.card-image .content .tag {
  line-height: 24px; 
  color: $blue;
  margin-top: 0px;
  font-size: .8em;
  font-weight: 700;
  padding: 20 0 20 0;

  @include media (">=tablet") {
    font-size: 1em;
  }
}

.card-image .content .description {
  color: $dark-grey; 
  font-size: 2em;
  line-height: 1.2;
  overflow: hidden;


  @include media (">=tablet") {
  font-size: 2.5em;
  line-height: 1.2;
  overflow: hidden;
  }
}

.card-image h6 {
  margin: 0; 
}



// Solid Color Cards


.card-solid-color {
  background-color: $aqua-blue;
  color: white;
  padding-bottom: 35%;
}

.card-solid-color .content{
  padding: 20px;
  text-align: left;
}


.card-solid-color .tag {
  color: white;
  margin-top: 10px;
  }

.card-solid-color .content .title {
  text-align: left; 
  color: white;
  margin-top: 20%;
  overflow: hidden;
  }


.card-solid-color .content .description {
  text-align: left;
  color: white;
  font-weight: 100;
  line-height: 1.2;

}


.content-new{
        .price{
            border: 2px solid rgba(255,255,255,.7);
            color: white;
            border-radius: 50%;
            width: 152px;
            height: 152px;
            margin: 30px auto;
            text-align: center;
            vertical-align: middle;
            line-height: 200px;

            h4{
                margin: 5px 0 0;
                font-size: 36px;
            }

            h6{
                margin-top: 45px;
                font-size: 16px;
            }

            .currency{
                font-size: 22px;
                font-weight: normal;
            }
        }
    }
