
//------------------------------------------------------------------------------
// Navigation




.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}




.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}


.navbar{
    //border: ;
    //font-size: ;
    padding: 10px;
    margin-bottom: 0px;
    z-index: 3;

    .navbar-nav{
         > li > a {
             line-height: 1.42857;
             //margin: ;
             //padding: ;
         }
         > li > a.btn{
             margin: 1px;
             padding: 1px;
         }

        > li > a.btn-xs{
            margin: 25px 5px;
        }

        > li > a.btn-sm{
            margin: 20px 5px;
        }
    }
    .btn{
       margin: 1px;
       //font-size: ;
    }
    .btn-simple{
        //font-size: ;
    }
    .caret{
       // @include center-item();
    }


}

.navbar-toggle{
    margin-top: 19px;
    margin-bottom: 19px;
    border: 0px solid white;

    .icon-bar {
        background-color: white;
    }
     .navbar-collapse,
     .navbar-form {
        border-color: transparent;
    }

    &.navbar-default .navbar-toggle:hover,
    &.navbar-default .navbar-toggle:focus{
        background-color: transparent;
    }
}


