
//------------------------------------------------------------------------------
// Pagination

.ul.pagination {
    display: inline-block;
    text-align: center;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    margin: 10px;
}

.pagination {


	.circle {
	height: 20px;
    width: 20px;
    border-radius: 100%;
  	background-color: white;
  	padding: 0px;
	}

	.arrow {
	background-color: transparent;
	border-width: 0px; 
	padding-top: 0px;
	}
}

ul.pagination li a.active {
    background-color: $blue;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}












